VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
# Generate this in Firebase Console > Project settings > Cloud Messaging > Web Push certificates
VITE_FIREBASE_VAPID_KEY=

# Mapbox access token (mapbox.com > Account > Tokens)
VITE_MAPBOX_TOKEN=
